{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
 <script src="/public/assets/js/validator.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
  $('#txtDOB').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });
$('#frmRegister').on('submit',async function (e) {
  //  e.preventDefault();
// alert('submit called');
// e.preventDefault();
// if (validate())
//   $('#frmRegister').off('submit').submit();
   // await validate2();

})

async function validate2() {
   
    const user = $('#username').val();

    await $.getJSON(`/account/is-available?user=${user}`, function (data) 
    {
        tt=data;
          
        if (data === true) {
            $('#frmRegister').off('submit').submit(); 
        } else {
            
        }
    }) 
}

 Validator({
                form: '#frmRegister',
                errSelector: '.form-message',
                formGroupSelector: '.form-group',
                rules: [
                        Validator.isRequired('#name', 'This field cannot Empty'),
                        Validator.isRequired('#username', 'This field cannot Empty'),
                        Validator.isRequired('#password', 'This field cannot Empty'),
                        Validator.isRequired('#confirm', 'This field cannot Empty'),
                        Validator.isRequired('#email', 'This field cannot Empty'),
                        Validator.isEmail('#email', 'Email invalid'),
                        Validator.minLength('#password', 6, '6-32 Character'),
                        Validator.minLength('#confirm', 6, '6-32 Character'),
                        Validator.confirm('#confirm', function(){return document.getElementById("password").value;}),
                    ] //,
                    // onsubmit: function(data) {
                    //     //Call API 
                    //     console.log(data);
                    // }
    }); 
    
    </script>




{{/section}}
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from earning your own money!</p>
                        <a class="btn btn-primary" href="/account/login">login</a><br/>
                        
                    </div>
                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                 {{#if errMess}}
                                        <h3 class="register-heading">Invalid user name try again </h3>
                                    {{else}}
                                        <h3 class="register-heading">Apply as a Employee</h3>
                                {{/if}}
                               
                                <form method="POST"  id="frmRegister">
                                <div class="row register-form">
                                    <div class="col-md-6">
  
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Name *" id="name" name="name" />
                                             <span class="form-message"></span>
                                        </div>
                                         <div class="form-group">
                                            <input type="text" class="form-control" placeholder="User Name *" id="username" name="username"  />
                                             <span class="form-message"></span>
                                            
                                             
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" id="password" name="password" />
                                            
                                             <span class="form-message"></span>
                                        </div>
                                        
                                         <div class="form-group">
                                            <input type="password" class="form-control"  placeholder="Confirm Password *" id="confirm" Confirm="confirm" />
                                             <span class="form-message"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" id="email" name="email" />
                                             <span class="form-message"></span>
                                        </div>
                                         <div class="form-group">
                                           <input type="text" minlength="10" maxlength="10"  class="form-control" placeholder="Your Phone *" value="" />
                                            <span class="form-message"></span>

                                        </div>                                       
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10"  class="form-control" placeholder="Day of Birth*" id="dob" name="dob" />
                                        </div>
                                      
                                         <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="male" checked>
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span> 
                                                </label>
                                            </div>
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

</div>
